html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  outline: none;
}

@font-face {
  font-family: "Georama";
  src: url("../fonts/Georama-SemiBold.eot");
  src: url("../fonts/Georama-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Georama-SemiBold.woff2") format("woff2"), url("../fonts/Georama-SemiBold.woff") format("woff"), url("../fonts/Georama-SemiBold.ttf") format("truetype"), url("../fonts/Georama-SemiBold.svg#Georama-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georama";
  src: url("../fonts/Georama-Bold.eot");
  src: url("../fonts/Georama-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Georama-Bold.woff2") format("woff2"), url("../fonts/Georama-Bold.woff") format("woff"), url("../fonts/Georama-Bold.ttf") format("truetype"), url("../fonts/Georama-Bold.svg#Georama-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.eot");
  src: url("../fonts/SpaceGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Regular.woff") format("woff"), url("../fonts/SpaceGrotesk-Regular.ttf") format("truetype"), url("../fonts/SpaceGrotesk-Regular.svg#SpaceGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Light.eot");
  src: url("../fonts/SpaceGrotesk-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SpaceGrotesk-Light.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Light.woff") format("woff"), url("../fonts/SpaceGrotesk-Light.ttf") format("truetype"), url("../fonts/SpaceGrotesk-Light.svg#SpaceGrotesk-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-SemiBold.eot");
  src: url("../fonts/SpaceGrotesk-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"), url("../fonts/SpaceGrotesk-SemiBold.woff") format("woff"), url("../fonts/SpaceGrotesk-SemiBold.ttf") format("truetype"), url("../fonts/SpaceGrotesk-SemiBold.svg#SpaceGrotesk-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.scroll {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.scrolled {
  opacity: 1 !important;
  -webkit-animation: fade-in-bottom 1s ease-in-out both;
          animation: fade-in-bottom 1s ease-in-out both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
}
header .header-container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-container .head-nav {
  max-width: 500px;
  width: 100%;
}
@media (max-width: 950px) {
  header .header-container .head-nav {
    display: none;
  }
}
header .header-container .head-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 950px) {
  header .header-container .head-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: #01020e;
    width: 100%;
    top: 70%;
    right: 0;
  }
  header .header-container .head-nav ul li {
    margin: 15px 0;
  }
}
header .header-container .head-nav ul li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .header-container .head-nav ul li:hover {
  opacity: 0.7 !important;
}
header .header-container .head-nav ul li a {
  font-size: 16px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
}
@media (max-width: 950px) {
  header .header-container .active {
    display: block;
  }
}
header .header-container .menu {
  font-size: 26px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}
@media (max-width: 950px) {
  header .header-container .menu {
    display: block;
  }
}

.bg-active {
  background-color: #01020e;
}

.home {
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home .bg-color {
  width: 15%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #01020e;
}
@media (max-width: 890px) {
  .home .bg-color {
    width: 10%;
  }
}
.home .bg-color .home-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 270px;
  left: 20px;
}
@media (max-width: 704px) {
  .home .bg-color .home-icon {
    top: 50%;
  }
}
@media (max-width: 601px) {
  .home .bg-color .home-icon {
    top: 50%;
  }
}
.home .bg-color .home-icon a .icon {
  margin-bottom: 30px;
  color: #fff;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.home .bg-color .home-icon a .icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.home .home-container {
  background-color: #01020e;
  height: 100vh;
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 890px) {
  .home .home-container {
    width: 80%;
  }
}
.home .home-container-text {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.home .home-container-text div {
  color: #fff;
}
@media (max-width: 998px) {
  .home .home-container-text div {
    position: absolute;
    z-index: 9;
    width: 30%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media (max-width: 900px) {
  .home .home-container-text div {
    top: 60%;
  }
}
@media (max-width: 700px) {
  .home .home-container-text div {
    width: 35%;
  }
}
@media (max-width: 640px) {
  .home .home-container-text div {
    width: 60%;
  }
}
@media (max-width: 601px) {
  .home .home-container-text div {
    top: 65%;
  }
}
@media (max-width: 557px) {
  .home .home-container-text div {
    left: 20%;
  }
}
.home .home-container-text div p {
  margin: 20px 0;
}
.home .home-container-text div p:nth-child(1) {
  font-size: 30px;
  font-family: "Space Grotesk";
  font-weight: bold;
  color: #fff;
  letter-spacing: 4px;
}
.home .home-container-text div p:nth-child(2) {
  font-size: 60px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 5px;
}
.home .home-container-text div p:nth-child(3) {
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 5px;
}
.home .home-container-text div p:nth-child(4) {
  font-size: 16px;
  font-family: "Space Grotesk";
  font-weight: normal;
  color: #fff;
  letter-spacing: 1px;
  line-height: 20px;
}
.home .home-container-text div .home-button {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  width: 150px;
  height: 40px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.home .home-container-text div .home-button:hover {
  opacity: 0.7 !important;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}
.home .home-container-image {
  position: relative;
  width: 80%;
  height: 100%;
  border-radius: 76% 24% 0% 100%/0% 0% 100% 100%;
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home .home-container-image .astronaut {
  position: absolute;
  top: 50%;
  right: 98%;
  -webkit-transform: translate(85%, -50%);
          transform: translate(85%, -50%);
}
@media (max-width: 990px) {
  .home .home-container-image .astronaut {
    right: 85%;
  }
}
@media (max-width: 640px) {
  .home .home-container-image .astronaut {
    top: 40%;
    right: 75%;
  }
}
@media (max-width: 620px) {
  .home .home-container-image .astronaut .austro {
    width: 200px !important;
    height: 200px !important;
  }
}
@media (max-width: 450px) {
  .home .home-container-image .astronaut .austro {
    width: 100px !important;
    height: 100px !important;
  }
}
@media (max-width: 450px) {
  .home .home-container-image .astronaut {
    top: 40%;
    right: 60%;
  }
}
@media (max-width: 400px) {
  .home .home-container-image .astronaut {
    right: 100%;
    top: 25%;
  }
}
@media (max-width: 320px) {
  .home .home-container-image .astronaut {
    top: 18%;
  }
}

.about {
  position: relative;
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about-container {
  background-color: #01020e;
  height: 100vh;
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 890px) {
  .about-container {
    width: 80%;
  }
}
@media (max-width: 699px) {
  .about-container {
    width: 90%;
  }
}
@media (max-width: 569px) {
  .about-container {
    width: 95%;
  }
}
.about-container-image {
  position: relative;
  border-radius: 0% 100% 100% 0%/30% 100% 0% 70%;
  width: 60%;
  height: 100%;
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-container-image .about-astronaut {
  position: absolute;
  top: 60%;
  left: 15%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
}
@media (max-width: 790px) {
  .about-container-image .about-astronaut {
    left: 25%;
  }
}
@media (max-width: 600px) {
  .about-container-image .about-astronaut {
    top: 25%;
  }
}
@media (max-width: 598px) {
  .about-container-image .about-astronaut {
    width: 100px;
    height: 100px;
  }
  .about-container-image .about-astronaut .about-astr {
    width: 100px;
    height: 100px !important;
  }
}
@media (max-width: 420px) {
  .about-container-image .about-astronaut {
    top: 20%;
  }
}
@media (max-width: 320px) {
  .about-container-image .about-astronaut {
    top: 25%;
  }
}
.about-container-text {
  max-width: 500px;
  width: 100%;
}
@media (max-width: 600px) {
  .about-container-text .about-container-title {
    position: absolute;
    z-index: 9;
    width: 45%;
    top: 13%;
    left: 35%;
    margin-left: 20px;
  }
}
@media (max-width: 600px) and (max-width: 569px) {
  .about-container-text .about-container-title {
    left: 40%;
    width: 50%;
  }
}
@media (max-width: 600px) and (max-width: 420px) {
  .about-container-text .about-container-title {
    top: 20%;
  }
}
.about-container-text .about-container-title .about-me {
  font-size: 30px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
}
@media (max-width: 569px) {
  .about-container-text .about-container-title .about-me {
    font-size: 25px;
  }
}
.about-container-text .about-container-title .line {
  padding-top: 10px;
}
@media (max-width: 384px) {
  .about-container-text .about-container-title .line {
    padding-top: 0px;
  }
}
.about-container-text .about-container-title .line li:nth-child(1) {
  width: 64px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.about-container-text .about-container-title .line li:nth-child(2) {
  width: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.about-container-text .about-container-title .line li:nth-child(3) {
  width: 7px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.about-container-text .about-container-title .ab-me-t {
  font-size: 16px;
  font-family: "Space Grotesk";
  font-weight: 300;
  color: #fff;
  margin: 10px 0 20px;
  line-height: 24px;
  width: 100%;
}
@media (max-width: 569px) {
  .about-container-text .about-container-title .ab-me-t {
    font-size: 14px;
  }
}
@media (max-width: 330px) {
  .about-container-text .about-container-title .ab-me-t {
    line-height: 15px;
  }
}
@media (max-width: 384px) {
  .about-container-text .about-container-title .ab-me-t {
    margin: 10px 0 10px;
  }
}
.about-container-text .skills {
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
}
@media (max-width: 569px) {
  .about-container-text .skills {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .about-container-text .skills-bar {
    position: absolute;
    z-index: 9;
    width: 70%;
    top: 50%;
    left: 10%;
  }
}
@media (max-width: 420px) {
  .about-container-text .skills-bar {
    top: 60%;
  }
}
@media (max-width: 330px) {
  .about-container-text .skills-bar {
    top: 55%;
  }
}
.about-container-text .skills-bar .skill-name {
  font-size: 14px;
  font-family: "Space Grotesk";
  font-weight: 300;
  color: #fff;
  margin-top: 20px;
}
.about-container-text .skills-bar .container {
  width: 100%;
  background-color: grey;
  height: 20px;
  border-radius: 15px;
}
.about-container-text .skills-bar .container .skill {
  text-align: right;
  color: white;
  height: 20px;
  border-radius: 15px;
}
.about-container-text .skills-bar .container .html {
  width: 90%;
  background-color: #fff;
  font-size: 20px;
  color: black;
}
.about-container-text .skills-bar .container .js {
  width: 75%;
  background-color: #fff;
  font-size: 20px;
  color: black;
}
.about-container-text .skills-bar .container .bs {
  width: 80%;
  background-color: #fff;
  font-size: 20px;
  color: black;
}
.about-container-text .skills-bar .container .ps {
  width: 60%;
  background-color: #fff;
  font-size: 20px;
  color: black;
}
.about-container .about-button {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  width: 150px;
  height: 40px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 600px) {
  .about-container .about-button {
    position: absolute;
    top: 10%;
  }
}
@media (max-width: 420px) {
  .about-container .about-button {
    font-size: 16px;
    width: 100px;
    height: 30px;
    left: 20%;
  }
}
.about-container .about-button:hover {
  opacity: 0.7 !important;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}
.about-bg-color {
  width: 15%;
  height: 100vh;
  background-color: #01020e;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 890px) {
  .about-bg-color {
    width: 10%;
  }
}
@media (max-width: 699px) {
  .about-bg-color {
    width: 5%;
  }
}

.portfolio {
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.portfolio-container {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
  background-color: #01020e;
  padding-top: 50px;
}
@media (max-width: 975px) {
  .portfolio-container {
    width: 55%;
  }
}
@media (max-width: 940px) {
  .portfolio-container {
    width: 50%;
  }
}
@media (max-width: 725px) {
  .portfolio-container {
    width: 70%;
  }
}
@media (max-width: 495px) {
  .portfolio-container {
    width: 80%;
  }
}
.portfolio-container .portfolio-title {
  padding-top: 40px;
}
.portfolio-container .portfolio-title .butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio-container .portfolio-title .butt .portf-pg-name {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  opacity: 0.8;
}
.portfolio-container .portfolio-title .butt .pf-button {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  width: 100px;
  height: 50px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio-container .portfolio-title .butt .pf-button:hover {
  opacity: 0.7 !important;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}
.portfolio-container .portfolio-title .lat-proj {
  font-size: 40px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 10px;
}
.portfolio-container .portfolio-title .line {
  padding-top: 10px;
}
.portfolio-container .portfolio-title .line li:nth-child(1) {
  width: 64px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.portfolio-container .portfolio-title .line li:nth-child(2) {
  width: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.portfolio-container .portfolio-title .line li:nth-child(3) {
  width: 7px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.portfolio-container .Slick {
  padding-top: 50px;
}
.portfolio-container .Slick .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 975px) {
  .portfolio-container .Slick .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.portfolio-container .Slick .slider .slider-item {
  width: 350px;
  height: 500px;
  margin: 20px;
}
@media (max-width: 1290px) {
  .portfolio-container .Slick .slider .slider-item img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 1139px) {
  .portfolio-container .Slick .slider .slider-item img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 975px) {
  .portfolio-container .Slick .slider .slider-item img {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 940px) {
  .portfolio-container .Slick .slider .slider-item img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 495px) {
  .portfolio-container .Slick .slider .slider-item img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 460px) {
  .portfolio-container .Slick .slider .slider-item img {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 362px) {
  .portfolio-container .Slick .slider .slider-item img {
    width: 200px;
    height: 200px;
  }
}
.portfolio-container .Slick .slider .slider-item h4 {
  margin-top: 20px;
}
.portfolio-container .Slick .slider .slider-item h4 a {
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
}
.portfolio-container .Slick .slider .project-4 img {
  height: 80%;
}
@media (max-width: 1290px) {
  .portfolio-container .Slick .slider .project-4 img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 1139px) {
  .portfolio-container .Slick .slider .project-4 img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 975px) {
  .portfolio-container .Slick .slider .project-4 img {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 940px) {
  .portfolio-container .Slick .slider .project-4 img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 495px) {
  .portfolio-container .Slick .slider .project-4 img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 460px) {
  .portfolio-container .Slick .slider .project-4 img {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 362px) {
  .portfolio-container .Slick .slider .project-4 img {
    width: 200px;
    height: 200px;
  }
}

.pg-pricing {
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.pg-pricing-text {
  width: 70%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding-top: 250px;
}
.pg-pricing-text .Pricing {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  opacity: 0.8;
}
.pg-pricing-text .pr-plans {
  font-size: 40px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 50px;
}
.pg-pricing-text .line {
  padding-top: 10px;
}
.pg-pricing-text .line li:nth-child(1) {
  width: 64px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.pg-pricing-text .line li:nth-child(2) {
  width: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.pg-pricing-text .line li:nth-child(3) {
  width: 7px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.pg-pricing-container {
  width: 70%;
  margin: 0 auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 100px;
}
@media (max-width: 820px) {
  .pg-pricing-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.pg-pricing-container .columns {
  width: 250px;
  height: 250px;
}
@media (max-width: 1210px) {
  .pg-pricing-container .columns {
    margin-right: 15px;
  }
}
.pg-pricing-container .columns .price {
  border: 1px solid #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 150px;
  text-align: center;
  background-color: black;
}
.pg-pricing-container .columns .price:hover {
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
  opacity: 0.7 !important;
}
.pg-pricing-container .columns .price-title {
  background-color: #fff;
  height: 30%;
  font-size: 25px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pg-pricing-container .columns .price .cost {
  font-size: 25px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  margin: 40px 0;
}
.pg-pricing-container .columns .pr-button {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  width: 100px;
  height: 50px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.pg-pricing-container .columns .pr-button:hover {
  opacity: 0.7 !important;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}

.client {
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 300px;
}
.client-container {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
}
@media (max-width: 320px) {
  .client-container {
    padding-top: 200px;
  }
}
@media (max-width: 820px) {
  .client-container {
    padding-top: 400px;
  }
}
.client-container-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 430px) {
  .client-container-t {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.client-container-t .container-t-1 {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  opacity: 0.8;
}
.client-container-t .container-t-2 {
  font-size: 40px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 50px;
}
.client-container-t .line {
  padding-top: 10px;
}
.client-container-t .line li:nth-child(1) {
  width: 64px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.client-container-t .line li:nth-child(2) {
  width: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.client-container-t .line li:nth-child(3) {
  width: 7px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.client-container .users {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #01020e;
  margin-top: 50px;
}
.client-container .users .us-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.client-container .users .us-ul .list {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #fff;
  border-radius: 25px 25px 0 25px;
}
@media (max-width: 1400px) {
  .client-container .users .us-ul .list {
    width: 250px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.client-container .users .us-ul .list span {
  color: #fff;
  opacity: 0.8;
  margin: 40px;
  font-size: 16px;
  font-family: "Space Grotesk";
  font-weight: 300;
  color: #fff;
}
@media (max-width: 1400px) {
  .client-container .users .us-ul .list span {
    margin: 5px;
    font-size: 12px;
  }
}
.client-container .users .us-ul .list img {
  border-radius: 25px 25px 0 25px;
  width: 110px;
  height: 110px;
}
.client-container .users .us-ul .list .user-com {
  color: #fff;
  font-size: 14px;
  font-family: "Space Grotesk";
  font-weight: 300;
  color: #fff;
}
.client-container .client-button {
  width: 25%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 430px) {
  .client-container .client-button {
    width: 50%;
    margin: 20px auto;
  }
}
.client-container .client-button .butt {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  width: 100px;
  height: 50px;
  margin: 20px 10px;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.client-container .client-button .butt:hover {
  opacity: 0.7 !important;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}

.experience {
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 300px;
}
.experience-container {
  width: 70%;
  margin: 0 auto;
  height: auto;
  background-color: #01020e;
}
@media (max-width: 800px) {
  .experience-container {
    margin-top: 600px;
  }
}
@media (max-width: 320px) {
  .experience-container {
    padding-top: 250px;
  }
}
.experience-container-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.experience-container-t .container-t-1 {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  opacity: 0.8;
}
.experience-container-t .container-t-2 {
  font-size: 40px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 50px;
}
.experience-container-t .line {
  padding-top: 10px;
}
.experience-container-t .line li:nth-child(1) {
  width: 64px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.experience-container-t .line li:nth-child(2) {
  width: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.experience-container-t .line li:nth-child(3) {
  width: 7px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.experience-container .fD-cont {
  width: 100%;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 1360px) {
  .experience-container .fD-cont {
    height: auto;
  }
}
@media (max-width: 900px) {
  .experience-container .fD-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #fff;
  }
}
.experience-container .fD-cont:hover {
  opacity: 0.7 !important;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}
.experience-container .fD-cont-text {
  border-right: 2px solid #fff;
  width: 50%;
  height: 252px;
  font-size: 16px;
  font-family: "Space Grotesk";
  font-weight: normal;
  color: #fff;
  line-height: 24px;
  padding: 30px;
}
@media (max-width: 600px) {
  .experience-container .fD-cont-text {
    font-size: 14px;
    padding: 10px;
  }
}
.experience-container .fD-cont .front-Dev {
  width: 50%;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}
@media (max-width: 900px) {
  .experience-container .fD-cont .front-Dev {
    width: 100%;
  }
}
.experience-container .fD-cont .front-Dev .Dev-titl {
  font-size: 30px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .experience-container .fD-cont .front-Dev .Dev-titl {
    font-size: 20px;
    padding: 10px;
  }
}
.experience-container .fD-cont .front-Dev .Dev-date {
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  opacity: 0.8;
}
@media (max-width: 600px) {
  .experience-container .fD-cont .front-Dev .Dev-date {
    font-size: 16px;
    padding: 10px;
  }
}
.experience-container .gD-cont {
  width: 100%;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 1360px) {
  .experience-container .gD-cont {
    height: auto !important;
    margin: 20px 0;
  }
}
@media (max-width: 900px) {
  .experience-container .gD-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #fff;
  }
}
.experience-container .gD-cont:hover {
  opacity: 0.7 !important;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}
.experience-container .gD-cont .graph-Dis {
  border-right: 2px solid #fff;
  width: 50%;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}
@media (max-width: 900px) {
  .experience-container .gD-cont .graph-Dis {
    width: 100%;
    border: none;
  }
}
.experience-container .gD-cont .graph-Dis .Dis-titl {
  font-size: 30px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .experience-container .gD-cont .graph-Dis .Dis-titl {
    font-size: 20px;
  }
}
.experience-container .gD-cont .graph-Dis .Dis-date {
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  opacity: 0.8;
}
@media (max-width: 600px) {
  .experience-container .gD-cont .graph-Dis .Dis-date {
    font-size: 16px;
  }
}
.experience-container .gD-cont .graph-Dis-text {
  width: 50%;
  height: 252px;
  font-size: 16px;
  font-family: "Space Grotesk";
  font-weight: normal;
  color: #fff;
  line-height: 24px;
  padding: 30px;
}
@media (max-width: 1360px) {
  .experience-container .gD-cont .graph-Dis-text {
    height: auto !important;
  }
}
@media (max-width: 600px) {
  .experience-container .gD-cont .graph-Dis-text {
    padding: 10px;
    width: 100% !important;
  }
}
.experience-container .UX-cont {
  width: 100%;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 1360px) {
  .experience-container .UX-cont {
    height: auto;
  }
}
@media (max-width: 900px) {
  .experience-container .UX-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #fff;
  }
}
.experience-container .UX-cont:hover {
  opacity: 0.7 !important;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}
.experience-container .UX-cont-text {
  border-right: 2px solid #fff;
  width: 50%;
  height: 252px;
  font-size: 16px;
  font-family: "Space Grotesk";
  font-weight: normal;
  color: #fff;
  line-height: 24px;
  padding: 30px;
}
@media (max-width: 600px) {
  .experience-container .UX-cont-text {
    padding: 10px;
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .experience-container .UX-cont-text {
    border: none;
  }
}
.experience-container .UX-cont .UX-UI {
  width: 50%;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}
@media (max-width: 900px) {
  .experience-container .UX-cont .UX-UI {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .experience-container .UX-cont .UX-UI {
    padding: 15px;
  }
}
.experience-container .UX-cont .UX-UI-titl {
  font-size: 30px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .experience-container .UX-cont .UX-UI-titl {
    font-size: 20px;
  }
}
.experience-container .UX-cont .UX-UI-date {
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  opacity: 0.8;
}
@media (max-width: 600px) {
  .experience-container .UX-cont .UX-UI-date {
    font-size: 16px;
  }
}
.experience-container .of {
  height: auto;
}
@media (max-width: 900px) {
  .experience-container .of {
    width: 100%;
    border: none;
  }
}
@media (max-width: 600px) {
  .experience-container .of {
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    margin: 15px;
  }
}

.contact {
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 300px;
}
.contact .container-text {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 1303px) {
  .contact .container-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.contact .container-text .contact-container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1303px) {
  .contact .container-text .contact-container-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact .container-text .contact-container-text .contact-container-text-titl {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  opacity: 0.8;
}
.contact .container-text .contact-container-text .Contact-me {
  font-size: 40px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 50px;
}
.contact .container-text .contact-container-text .line {
  padding-top: 10px;
}
.contact .container-text .contact-container-text .line li:nth-child(1) {
  width: 64px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.contact .container-text .contact-container-text .line li:nth-child(2) {
  width: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.contact .container-text .contact-container-text .line li:nth-child(3) {
  width: 7px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.contact .container {
  width: 70%;
  margin: 0 auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1303px) {
  .contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact .container .left-flex {
  width: 40%;
  height: 80%;
  border-radius: 0% 100% 100% 0%/0% 0% 100% 100%;
  background-color: #01020e;
  width: 450px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
@media (max-width: 511px) {
  .contact .container .left-flex {
    max-width: 300px;
    width: 100%;
  }
}
.contact .container .left-flex .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 20px;
}
.contact .container .left-flex .icon i {
  margin: 30px;
}
@media (max-width: 359px) {
  .contact .container .left-flex .icon i {
    margin: 20px;
  }
}
.contact .container .left-flex .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
}
.contact .container .left-flex .info a {
  margin: 25px;
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
}
@media (max-width: 359px) {
  .contact .container .left-flex .info a {
    margin: 10px;
  }
}
.contact .container .right {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1303px) {
  .contact .container .right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact .container .right .contact-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 1303px) {
  .contact .container .right .contact-form .form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact .container .right .contact-form .form .inp {
  width: 500px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  font-size: 14px;
  font-family: "Georama";
  font-weight: 300;
  color: #fff;
}
@media (max-width: 785px) {
  .contact .container .right .contact-form .form .inp {
    width: 400px;
  }
}
@media (max-width: 455px) {
  .contact .container .right .contact-form .form .inp {
    width: 300px;
  }
}
.contact .container .right .contact-form .form .inp:focus {
  opacity: 0.8;
}
.contact .container .right .contact-form .form .inp::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Georama";
  font-weight: 300;
  color: #fff;
}
.contact .container .right .contact-form .form .inp::-moz-placeholder {
  font-size: 14px;
  font-family: "Georama";
  font-weight: 300;
  color: #fff;
}
.contact .container .right .contact-form .form .inp:-ms-input-placeholder {
  font-size: 14px;
  font-family: "Georama";
  font-weight: 300;
  color: #fff;
}
.contact .container .right .contact-form .form .inp::-ms-input-placeholder {
  font-size: 14px;
  font-family: "Georama";
  font-weight: 300;
  color: #fff;
}
.contact .container .right .contact-form .form .inp::placeholder {
  font-size: 14px;
  font-family: "Georama";
  font-weight: 300;
  color: #fff;
}
.contact .container .right .contact-form .form .inp:nth-child(1), .contact .container .right .contact-form .form .inp:nth-child(2), .contact .container .right .contact-form .form .inp:nth-child(3) {
  height: 40px;
  width: 55%;
}
.contact .container .right .contact-form .form .massage {
  height: 150px;
}
@media (max-width: 346px) {
  .contact .container .right .contact-form .form .massage {
    width: 250px;
  }
}
.contact .container .right .contact-form .form .submit {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact .container .right .contact-form .form .submit:hover {
  opacity: 0.7 !important;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}

.footer {
  width: 100%;
  height: 150px;
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
}
.footer .footer-container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer-container .finde {
  margin-bottom: 20px;
}
.footer .footer-container .finde .findeme {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
}
.footer .footer-container .footer-icon a {
  margin: 20px;
}
@media (max-width: 392px) {
  .footer .footer-container .footer-icon a {
    margin: 10px;
  }
}
.footer .footer-container .footer-icon a i {
  color: #fff;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer .footer-container .footer-icon a i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}/*# sourceMappingURL=global.css.map */