html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  outline: none;
}

@font-face {
  font-family: "Georama";
  src: url("../fonts/Georama-SemiBold.eot");
  src: url("../fonts/Georama-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Georama-SemiBold.woff2") format("woff2"), url("../fonts/Georama-SemiBold.woff") format("woff"), url("../fonts/Georama-SemiBold.ttf") format("truetype"), url("../fonts/Georama-SemiBold.svg#Georama-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georama";
  src: url("../fonts/Georama-Bold.eot");
  src: url("../fonts/Georama-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Georama-Bold.woff2") format("woff2"), url("../fonts/Georama-Bold.woff") format("woff"), url("../fonts/Georama-Bold.ttf") format("truetype"), url("../fonts/Georama-Bold.svg#Georama-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.eot");
  src: url("../fonts/SpaceGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Regular.woff") format("woff"), url("../fonts/SpaceGrotesk-Regular.ttf") format("truetype"), url("../fonts/SpaceGrotesk-Regular.svg#SpaceGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Light.eot");
  src: url("../fonts/SpaceGrotesk-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SpaceGrotesk-Light.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Light.woff") format("woff"), url("../fonts/SpaceGrotesk-Light.ttf") format("truetype"), url("../fonts/SpaceGrotesk-Light.svg#SpaceGrotesk-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-SemiBold.eot");
  src: url("../fonts/SpaceGrotesk-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"), url("../fonts/SpaceGrotesk-SemiBold.woff") format("woff"), url("../fonts/SpaceGrotesk-SemiBold.ttf") format("truetype"), url("../fonts/SpaceGrotesk-SemiBold.svg#SpaceGrotesk-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
}
header .header-container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-container .head-nav {
  max-width: 500px;
  width: 100%;
}
@media (max-width: 950px) {
  header .header-container .head-nav {
    display: none;
  }
}
header .header-container .head-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 950px) {
  header .header-container .head-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100px;
    left: 150px;
  }
  header .header-container .head-nav ul li {
    margin: 15px 0;
  }
}
header .header-container .head-nav ul a {
  font-size: 16px;
  font-family: "Georama";
  letter-spacing: 2px;
  color: #fff;
}
@media (max-width: 950px) {
  header .header-container .active {
    display: block;
  }
}
header .header-container .menu {
  position: absolute;
  top: 50px;
  display: none;
}
@media (max-width: 950px) {
  header .header-container .menu {
    display: block;
  }
}

.home {
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home .bg-color {
  width: 15%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #01020e;
}
.home .bg-color .home-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 370px;
  left: 20px;
}
.home .bg-color .home-icon a .icon {
  margin-bottom: 30px;
  color: #fff;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.home .bg-color .home-icon a .icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.home .home-container {
  background-color: #01020e;
  height: 100vh;
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .home-container-text {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.home .home-container-text div {
  color: antiquewhite;
}
.home .home-container-text div p {
  margin: 20px 0;
}
.home .home-container-text div p:nth-child(1) {
  font-size: 30px;
  font-family: "Space Grotesk";
  font-weight: bold;
  letter-spacing: 4px;
}
.home .home-container-text div p:nth-child(2) {
  font-size: 60px;
  font-family: "Georama";
  font-weight: 600px;
  letter-spacing: 5px;
}
.home .home-container-text div p:nth-child(3) {
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600px;
  letter-spacing: 5px;
}
.home .home-container-text div p:nth-child(4) {
  font-size: 16px;
  font-family: "Space Grotesk";
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 20px;
}
.home .home-container-text div .home-button {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  width: 150px;
  height: 40px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.home .home-container-text div .home-button:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}
.home .home-container-image {
  position: relative;
  width: 80%;
  height: 100%;
  border-radius: 76% 24% 0% 100%/0% 0% 100% 100%;
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home .home-container-image .astronaut {
  position: absolute;
  top: 50%;
  right: 98%;
  -webkit-transform: translate(85%, -50%);
          transform: translate(85%, -50%);
}

.about {
  position: relative;
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about-container {
  background-color: #01020e;
  height: 100vh;
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-container-image {
  position: relative;
  border-radius: 0% 100% 100% 0%/30% 100% 0% 70%;
  width: 60%;
  height: 100%;
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about-container-image .about-astronaut {
  position: absolute;
  top: 60%;
  left: 40%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
}
.about-container-text {
  max-width: 500px;
  width: 100%;
}
.about-container-text .about-me {
  font-size: 30px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
}
.about-container-text .line {
  padding-top: 10px;
}
.about-container-text .line li:nth-child(1) {
  width: 64px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.about-container-text .line li:nth-child(2) {
  width: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.about-container-text .line li:nth-child(3) {
  width: 7px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.about-container-text p {
  font-size: 16px;
  font-family: "Space Grotesk";
  font-weight: 300;
  color: #fff;
  margin: 10px 0 20px;
  line-height: 24px;
}
.about-container-text .skills {
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
}
.about-container-text .skills-bar .skill-name {
  font-size: 14px;
  font-family: "Space Grotesk";
  font-weight: 300;
  color: #fff;
  margin-top: 20px;
}
.about-container-text .skills-bar .container {
  width: 100%;
  background-color: grey;
  height: 20px;
  border-radius: 15px;
}
.about-container-text .skills-bar .container .skills {
  text-align: right;
  color: white;
  height: 20px;
  border-radius: 15px;
}
.about-container-text .skills-bar .container .html {
  width: 90%;
  background-color: #fff;
  font-size: 20px;
  color: black;
}
.about-container-text .skills-bar .container .js {
  width: 75%;
  background-color: #fff;
  font-size: 20px;
  color: black;
}
.about-container-text .skills-bar .container .bs {
  width: 80%;
  background-color: #fff;
  font-size: 20px;
  color: black;
}
.about-container-text .skills-bar .container .ps {
  width: 60%;
  background-color: #fff;
  font-size: 20px;
  color: black;
}
.about-container .about-button {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  width: 150px;
  height: 40px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.about-container .about-button:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}
.about-bg-color {
  width: 15%;
  height: 100vh;
  background-color: #01020e;
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio {
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.portfolio-container {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
  background-color: #01020e;
  padding-top: 50px;
}
.portfolio-container .portfolio-title {
  padding-top: 40px;
}
.portfolio-container .portfolio-title .butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio-container .portfolio-title .butt .portf-pg-name {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  opacity: 0.8;
}
.portfolio-container .portfolio-title .butt .pf-button {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  width: 100px;
  height: 50px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio-container .portfolio-title .butt .pf-button:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}
.portfolio-container .portfolio-title .lat-proj {
  font-size: 40px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 10px;
}
.portfolio-container .portfolio-title .line {
  padding-top: 10px;
}
.portfolio-container .portfolio-title .line li:nth-child(1) {
  width: 64px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.portfolio-container .portfolio-title .line li:nth-child(2) {
  width: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.portfolio-container .portfolio-title .line li:nth-child(3) {
  width: 7px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.portfolio-container .Slick {
  padding-top: 50px;
}
.portfolio-container .Slick .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio-container .Slick .slider .slider-item {
  width: 350px;
  height: 500px;
  margin: 20px;
}
.portfolio-container .Slick .slider .slider-item h4 {
  margin-top: 20px;
}
.portfolio-container .Slick .slider .slider-item h4 a {
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
}
.portfolio-container .Slick .slider .project-4 img {
  height: 80%;
}

.pg-pricing {
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.pg-pricing-text {
  width: 70%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding-top: 250px;
}
.pg-pricing-text .Pricing {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  opacity: 0.8;
}
.pg-pricing-text .pr-plans {
  font-size: 40px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 50px;
}
.pg-pricing-text .line {
  padding-top: 10px;
}
.pg-pricing-text .line li:nth-child(1) {
  width: 64px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.pg-pricing-text .line li:nth-child(2) {
  width: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.pg-pricing-text .line li:nth-child(3) {
  width: 7px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.pg-pricing-container {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 100px;
}
.pg-pricing-container .columns {
  width: 250px;
  height: 250px;
}
.pg-pricing-container .columns .price {
  border: 1px solid #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 150px;
  text-align: center;
  background-color: black;
}
.pg-pricing-container .columns .price:hover {
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
  opacity: 0.7;
}
.pg-pricing-container .columns .price-title {
  background-color: #fff;
  height: 30%;
  font-size: 25px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pg-pricing-container .columns .price .cost {
  font-size: 25px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  margin: 40px 0;
}
.pg-pricing-container .columns .pr-button {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  width: 100px;
  height: 50px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.pg-pricing-container .columns .pr-button:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}

.client {
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 300px;
}
.client-container {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
}
.client-container-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.client-container-t .container-t-1 {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  opacity: 0.8;
}
.client-container-t .container-t-2 {
  font-size: 40px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 50px;
}
.client-container-t .line {
  padding-top: 10px;
}
.client-container-t .line li:nth-child(1) {
  width: 64px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.client-container-t .line li:nth-child(2) {
  width: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.client-container-t .line li:nth-child(3) {
  width: 7px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.client-container .users {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #01020e;
  margin-top: 50px;
}
.client-container .users .us-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.client-container .users .us-ul .list {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #fff;
  border-radius: 25px 25px 0 25px;
}
.client-container .users .us-ul .list span {
  color: #fff;
  opacity: 0.8;
  margin: 40px;
  font-size: 16px;
  font-family: "Space Grotesk";
  font-weight: 300;
  color: #fff;
}
.client-container .users .us-ul .list img {
  border-radius: 25px 25px 0 25px;
  width: 128px;
  height: 128px;
}
.client-container .users .us-ul .list .user-com {
  color: #fff;
  font-size: 14px;
  font-family: "Space Grotesk";
  font-weight: 300;
  color: #fff;
}
.client-container .client-button {
  width: 25%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.client-container .client-button .butt {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  width: 100px;
  height: 50px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.client-container .client-button .butt:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}

.experience {
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 300px;
}
.experience-container {
  width: 70%;
  margin: 0 auto;
  height: auto;
  background-color: #01020e;
}
.experience-container-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.experience-container-t .container-t-1 {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  opacity: 0.8;
}
.experience-container-t .container-t-2 {
  font-size: 40px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 50px;
}
.experience-container-t .line {
  padding-top: 10px;
}
.experience-container-t .line li:nth-child(1) {
  width: 64px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.experience-container-t .line li:nth-child(2) {
  width: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.experience-container-t .line li:nth-child(3) {
  width: 7px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.experience-container .fD-cont {
  width: 100%;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.experience-container .fD-cont:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}
.experience-container .fD-cont-text {
  border-right: 2px solid #fff;
  width: 50%;
  height: 252px;
  font-size: 16px;
  font-family: "Space Grotesk";
  font-weight: normal;
  color: #fff;
  line-height: 24px;
  padding: 30px;
}
.experience-container .fD-cont .front-Dev {
  width: 50%;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.experience-container .fD-cont .front-Dev .Dev-titl {
  font-size: 30px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.experience-container .fD-cont .front-Dev .Dev-date {
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  opacity: 0.8;
}
.experience-container .gD-cont {
  width: 100%;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.experience-container .gD-cont:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}
.experience-container .gD-cont .graph-Dis {
  border-right: 2px solid #fff;
  width: 50%;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.experience-container .gD-cont .Dis-titl {
  font-size: 30px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.experience-container .gD-cont .Dis-date {
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  opacity: 0.8;
}
.experience-container .gD-cont .graph-Dis-text {
  width: 50%;
  height: 252px;
  font-size: 16px;
  font-family: "Space Grotesk";
  font-weight: normal;
  color: #fff;
  line-height: 24px;
  padding: 30px;
}
.experience-container .UX-cont {
  width: 100%;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.experience-container .UX-cont:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}
.experience-container .UX-cont-text {
  border-right: 2px solid #fff;
  width: 50%;
  height: 252px;
  font-size: 16px;
  font-family: "Space Grotesk";
  font-weight: normal;
  color: #fff;
  line-height: 24px;
  padding: 30px;
}
.experience-container .UX-cont .UX-UI {
  width: 50%;
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.experience-container .UX-cont .UX-UI-titl {
  font-size: 30px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.experience-container .UX-cont .UX-UI-date {
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  opacity: 0.8;
}

.contact {
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 300px;
}
.contact-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 100vh;
}
.contact-container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-container-text-titl {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  opacity: 0.8;
}
.contact-container-text .Contact-me {
  font-size: 40px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 50px;
}
.contact-container-text .line {
  padding-top: 10px;
}
.contact-container-text .line li:nth-child(1) {
  width: 64px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.contact-container-text .line li:nth-child(2) {
  width: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.contact-container-text .line li:nth-child(3) {
  width: 7px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  height: 3px;
}
.contact-container .contact-info {
  border-radius: 0% 100% 100% 0%/0% 0% 100% 100%;
  background-color: #01020e;
  width: 450px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.contact-container .contact-info .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 20px;
}
.contact-container .contact-info .icon i {
  margin: 30px;
}
.contact-container .contact-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
}
.contact-container .contact-info .info a {
  margin: 25px;
  font-size: 20px;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #fff;
}
.contact-container .contact-form {
  width: 600px;
  height: 550px;
  position: absolute;
  top: 150px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contact-container .contact-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contact-container .contact-form .form .inp {
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  font-size: 14px;
  font-family: "Georama";
  font-weight: 300;
  color: #fff;
}
.contact-container .contact-form .form .inp:focus {
  opacity: 0.8;
}
.contact-container .contact-form .form .inp::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Georama";
  font-weight: 300;
  color: #fff;
}
.contact-container .contact-form .form .inp::-moz-placeholder {
  font-size: 14px;
  font-family: "Georama";
  font-weight: 300;
  color: #fff;
}
.contact-container .contact-form .form .inp:-ms-input-placeholder {
  font-size: 14px;
  font-family: "Georama";
  font-weight: 300;
  color: #fff;
}
.contact-container .contact-form .form .inp::-ms-input-placeholder {
  font-size: 14px;
  font-family: "Georama";
  font-weight: 300;
  color: #fff;
}
.contact-container .contact-form .form .inp::placeholder {
  font-size: 14px;
  font-family: "Georama";
  font-weight: 300;
  color: #fff;
}
.contact-container .contact-form .form .inp:nth-child(1), .contact-container .contact-form .form .inp:nth-child(2), .contact-container .contact-form .form .inp:nth-child(3) {
  height: 40px;
  width: 55%;
}
.contact-container .contact-form .form .submit {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #01020e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact-container .contact-form .form .submit:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0 8px 12px 0 #fff;
          box-shadow: 0 8px 12px 0 #fff;
}

.footer {
  width: 100%;
  height: 150px;
  background-image: url("../images/Ti29oM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
}
.footer .footer-container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer-container .finde {
  margin-bottom: 20px;
}
.footer .footer-container .finde .findeme {
  font-size: 20px;
  font-family: "Georama";
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
}
.footer .footer-container .footer-icon a {
  margin: 20px;
}
.footer .footer-container .footer-icon a i {
  color: #fff;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer .footer-container .footer-icon a i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}/*# sourceMappingURL=global.css.map */