@mixin sizecon ($max, $width) {
    max-width: $max;
    width: $width;
}

@mixin flex ($flex, $just, $align) {
    display: $flex;
    justify-content: $just;
    align-items: $align;
}
@mixin columcent ($flex,$fdirect) {
    display: $flex;
    flex-direction: $fdirect;
    
}
@mixin bgimage ($size:cover,$rep:no-repeat,$pos:center) {
    
    background-size: $size;
    background-repeat: $rep;
    background-position: $pos;
}
@mixin line ($inline, $color, $radius, $heigh){
    display: $inline;
    background-color: $color;
    border-radius: $radius;
    height: $heigh;
}
@mixin fontstyle ($size,$fam,$weight,$col) {
    font-size: $size;
    font-family: $fam;
    font-weight: $weight;
    color: $col;
}
@mixin progress ($width,$bgcolor,$fsize,$color) {
    width: $width; 
    background-color: $bgcolor;
    font-size: $fsize;
    color: $color;
}
