header {
    @include wh(100%,60px);
    // background-color: $bg-color;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    .header-container{
        @include cont;
        @include flex (flex, flex-end, center);
        .head-nav{
            @media (max-width:950px) {
                display: none;
            }
            @include sizecon (500px, 100%);
            ul{
                @media (max-width:950px) {
                    flex-direction: column;
                    position: absolute;
                    // top: 100px;
                    // left: 150px;
                    background-color: $bg-color;
                    width: 100%;
                    top: 70%;
                    right: 0;
                    li {
                        margin: 15px 0;
                    }
                }
                @include flex (flex, space-between, center);
                li{
                    transition: 0.3s;
                    &:hover{
                        opacity: 0.7 !important;
                    }
                    a{
                        @include fontstyle (16px,$pgttlfont,600,$fontcolor);
                        letter-spacing: 2px;
                    }
                }
            }
        }
        .active{
            @media (max-width:950px){
                display: block;
            }
        }
        .menu{
            @media (max-width:950px) {
                display: block;
            }
            @include fontstyle (26px,$pgttlfont,600,$fontcolor);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            // right: 50px;
            display: none;
        }
    }
}
.bg-active{
    background-color: $bg-color;
}
// section-1-styles
.home{
    background-image: url('../images/Ti29oM.jpg');
    @include bgimage (cover, no-repeat, center);
    .bg-color {
        @media(max-width:890px){
            width: 10%;
        }
        @include wh(15%,100%);
        position: absolute;
        top: 0;
        left: 0;
        background-color: $bg-color;
        .home-icon{
            @media (max-width:704px){
                top: 50%;
            }
            @media (max-width:601px){
                top: 50%;
            }
            @include columcent(flex,column);
            position: absolute;
            top:270px;
            left: 20px;
            a{
                .icon{
                    margin-bottom: 30px;
                    @include iconstyle;
                    transition: 0.3s;
                    &:hover{
                        transform:scale(1.5);
                    }
                }
            }
        }
    }
    .home-container{
        @media(max-width:890px){
            width: 80%;
        }
        background-color: $bg-color;
        height: 100vh;
        @include cont;
        @include flex (flex, space-between, center);
        &-text{
            @include wh(50%,50%);
            display: flex;
            align-items: flex-end;
            div{
                @media (max-width:998px){
                    position: absolute;
                    z-index: 9;
                    width: 30%;
                    top: 50%;
                    transform: translateY(-50%);
                }
                @media (max-width:900px){
                    top: 60%;
                }
                @media (max-width:700px){
                    width: 35%;
                }
                @media (max-width:640px){
                    width: 60%;
                }
                @media (max-width:601px){
                    top: 65%;
                }
                @media(max-width:557px){
                    left:20%
                }
                color: $fontcolor;
                p{
                    margin: 20px 0;
                    &:nth-child(1){
                        @include fontstyle (30px,$textfont,bold,$fontcolor);
                        letter-spacing: 4px;
                    }
                    &:nth-child(2){
                        @include fontstyle (60px,$pgttlfont,600,$fontcolor);
                        letter-spacing: 5px;
                    }
                    &:nth-child(3){
                        @include fontstyle (20px,$textfont,600,$fontcolor);
                        letter-spacing: 5px;
                    }
                    &:nth-child(4){
                        @include fontstyle (16px,$textfont,normal,$fontcolor);
                        letter-spacing: 1px;
                        line-height: 20px;
                    }
                }
                .home-button {
                    @include fontstyle (20px,$pgttlfont,600,$fontcolor);
                    @include wh (150px, 40px);
                    margin: 20px 0;
                    border-radius: 25px;
                    border: 1px solid $fontcolor;
                    background-color: $bg-color;
                    @include flex(flex,center,center);
                    transition: 0.3s;
                    &:hover{
                        opacity: 0.7 !important;
                        box-shadow: 0 8px 12px 0 $fontcolor;
                    }
                }    
            }
        }
        &-image {
            position: relative;
            width: 80%;
            height: 100%;
            border-radius: 76% 24% 0% 100% / 0% 0% 100% 100% ;
            background-image: url('../images/Ti29oM.jpg');
            @include bgimage (cover, no-repeat, center);
            .astronaut{
                @media (max-width:990px){
                    right: 85%;
                }
                @media (max-width:640px){
                    top: 40%;
                    right: 75%;
                }
                @media (max-width:620px){
                    .austro{
                        width: 200px !important;
                        height: 200px !important;
                    }
                }
                @media (max-width:450px){
                    .austro{
                        width: 100px !important;
                        height: 100px !important;
                    }
                }
                @media (max-width:450px){
                    top: 40%;
                    right: 60%;
                }
                @media (max-width:400px){
                    right: 100%;
                    top: 25%;
                }
                @media(max-width:320px){
                    top: 18%;
                }
                position: absolute;
                top:50%;
                right: 98%;
                transform: translate(85%, -50%);
            }
        }
    }
   
}
// section-2-styles
.about{position: relative;
    background-image: url('../images/Ti29oM.jpg');
    @include bgimage (cover, no-repeat, center);
    &-container{
        @media(max-width:890px){
            width: 80%;
        }
        @media(max-width:699px){
            width: 90%;
        }
        @media(max-width:569px){
            width: 95%;
        }
        
        background-color: $bg-color;
        height: 100vh;
        @include cont;
        @include flex (flex, space-between, center);
        &-image{
            position: relative;
            border-radius: 0% 100% 100% 0% / 30% 100% 0% 70% ;
            @include wh(60%,100%);
            background-image: url('../images/Ti29oM.jpg');
            @include bgimage (cover, no-repeat, center);
            @include flex(flex,center,flex-start);
            flex-direction: column;
            .about-astronaut{
                @media(max-width:790px){
                    left: 25%;
                }
                @media(max-width:600px){
                    top: 25%;
                }
                @media(max-width:598px){
                    @include wh(100px,100px);
                    .about-astr{
                        @include wh(100px,100px !important);
                    }
                }
                @media(max-width:420px){
                    top: 20%;
                }
                @media(max-width:320px){
                    top: 25%
                }
                position: absolute;
                top: 60%;
                left: 15%;
                transform: translate(-50%,-30%);
            }
        }
        &-text{
            @include sizecon (500px,100%);
            .about-container-title{
                @media(max-width:600px){
                    position: absolute;
                    z-index: 9;
                    width: 45%;
                    top: 13%;
                    left: 35%;
                    margin-left: 20px;

                    @media(max-width:569px){
                        left: 40%;
                        width: 50%;
                    }
                    @media(max-width:420px){
                        top: 20%;
                    }
                }
                .about-me{
                    @media(max-width:569px){
                        font-size: 25px;
                    }
                    @include fontstyle (30px,$textfont,600,$fontcolor);
                    letter-spacing: 2px;
                }
                .line{
                    @media(max-width:384px){
                        padding-top: 0px;
                    }
                    padding-top: 10px;
                     li{
                        &:nth-child(1){
                            width: 64px;
                            @include line (inline-block,#fff, 50px, 3px);
                        }
                        &:nth-child(2){
                            width: 10px;
                            @include line (inline-block,#fff, 50px, 3px);
                        }
                        &:nth-child(3){
                            width: 7px;
                            @include line (inline-block,#fff, 50px, 3px);
                        }    
                    }
                }
                .ab-me-t{
                    @media(max-width:569px){
                        font-size: 14px;
                    }
                    @media(max-width:330px){
                        line-height:15px;
                    }
                    @media(max-width:384px){
                        margin: 10px 0 10px;
                    }
                    @include fontstyle (16px,$textfont,300,$fontcolor);
                    margin: 10px 0 20px;
                    line-height: 24px;
                    width: 100%
                    
                }
            }
            .skills{
                @media(max-width:569px){
                    font-size: 18px;
                }
                @include fontstyle (20px,$textfont,600,$fontcolor);
                letter-spacing: 2px;
                
            }
            
            .skills-bar{
                @media(max-width:1500px){
                    // margin-left: 25px;
                }
                @media(max-width:600px){
                    position: absolute;
                    z-index: 9;
                    width: 70%;
                    top: 50%;
                    left: 10%;

                }
                @media(max-width:420px){
                    top: 60%;;
                }
                @media(max-width:330px){
                    top: 55%;
                }
                .skill-name{
                    @include fontstyle (14px,$textfont,300,$fontcolor);
                    margin-top: 20px;
                }
                .container{
                    width: 100%;
                    background-color: grey;
                    height: 20px;
                    border-radius: 15px;
                    .skill{
                        text-align: right;
                        color: white;
                        height: 20px;
                        border-radius: 15px;
                    }
                    .html{
                        @include progress (90%,#fff,20px,black);
                    }
                    .js{
                        @include progress (75%,#fff,20px,black);
                    }
                    .bs{
                        @include progress (80%,#fff,20px,black);
                    }
                    .ps{
                        @include progress (60%,#fff,20px,black);
                    }
                }
            }
        }
        .about-button {
            @media(max-width:600px){
                position: absolute;
                top: 10%;
            }
            @media(max-width:420px){
                font-size: 16px;
                @include wh (100px, 30px);
                left: 20%;
            }
            @include fontstyle (20px,$pgttlfont,600,$fontcolor);
            @include wh (150px, 40px);
            margin: 20px 0;
            border-radius: 25px;
            border: 1px solid $fontcolor;
            background-color: $bg-color;
            @include flex(flex,center,center);
            transition: 0.3s;
            &:hover{
                opacity: 0.7 !important;
                box-shadow: 0 8px 12px 0 $fontcolor;
            }
        }
    }
    &-bg-color{
        @media(max-width:890px){
            width: 10%;
        }
        @media(max-width:699px){
            width: 5%;
        }
        // @media(max-width:569px){
        //     width: 2.5%;
        // }
        width: 15%;
        height: 100vh;
        background-color: $bg-color;
        position: absolute;
        top: 0;
        right: 0;
    }
}
// section-3-styles
.portfolio{
    background-image: url('../images/Ti29oM.jpg');
    @include bgimage (cover, no-repeat, center);
    &-container{
        @include cont;
        height: 100vh;
        background-color: $bg-color;
        padding-top: 50px;
        @media(max-width:975px){
            width: 55%;
        }
        @media(max-width:940px){
            width: 50%;
        }
        @media(max-width:725px){
            width: 70%;
        }
        @media(max-width:495px){
            width: 80%;
        }

        .portfolio-title{
            padding-top: 40px;
            .butt{
                @include flex(flex,space-between,center);
                .portf-pg-name{
                    @include fontstyle (20px,$pgttlfont,600,$fontcolor);
                    letter-spacing: 3px;
                    opacity: 0.8;
                }
                .pf-button{
                    @include fontstyle (20px,$pgttlfont,600,$fontcolor);
                    @include wh (100px, 50px);
                    margin: 20px 0;
                    border-radius: 25px;
                    border: 1px solid $fontcolor;
                    background-color: $bg-color;
                    @include flex(flex,center,center);
                    transition: 0.3s;
                    &:hover{
                        opacity: 0.7 !important;
                        box-shadow: 0 8px 12px 0 $fontcolor;
                    }
                }
            }
            .lat-proj{
                @include fontstyle (40px,$textfont,600,$fontcolor);
                letter-spacing: 2px;
                margin-top: 10px;
            }
            .line{
                padding-top: 10px;
                 li{
                    &:nth-child(1){
                        width: 64px;
                        @include line (inline-block,#fff, 50px, 3px);
                    }
                    &:nth-child(2){
                        width: 10px;
                        @include line (inline-block,#fff, 50px, 3px);
                    }
                    &:nth-child(3){
                        width: 7px;
                        @include line (inline-block,#fff, 50px, 3px);
                    }    
                }
            }
            
        }
        .Slick{
            padding-top: 50px;
            .slider{
                @media(max-width:975px){
                    @include flex(flex,center,center);
                }
                @include flex(flex,space-between,center);
                .slider-item{
                    width: 350px;
                    height: 500px;
                    margin:20px;
                    img{
                        @media(max-width:1290px){
                            @include wh(350px,350px);
                        }
                        @media(max-width:1139px){
                            @include wh(300px,300px);
                        }
                        @media(max-width:975px){
                            @include wh(450px,450px);
                        }
                        @media(max-width:940px){
                            @include wh(300px,300px);
                        }
                        @media(max-width:495px){
                            @include wh(400px,400px);
                        }
                        @media(max-width:460px){
                            @include wh(250px,250px);
                        }
                        @media(max-width:362px){
                            @include wh(200px,200px);
                        }
                    }
                    h4{
                        margin-top: 20px;
                        a{
                            @include fontstyle(20px,$textfont,600,$fontcolor);
                        }
                    }
                }
                .project-4{
                    img{
                        @media(max-width:1290px){
                            @include wh(350px,350px);
                        }
                        @media(max-width:1139px){
                            @include wh(300px,300px);
                        }
                        @media(max-width:975px){
                            @include wh(450px,450px);
                        }
                        @media(max-width:940px){
                            @include wh(300px,300px);
                        }
                        @media(max-width:495px){
                            @include wh(400px,400px);
                        }
                        @media(max-width:460px){
                            @include wh(250px,250px);
                        }
                        @media(max-width:362px){
                            @include wh(200px,200px);
                        }
                        height: 80%;
                    }
                }
                
            }
        }
    }
}
// section-3-styles
.pg-pricing{
    background-image: url('../images/Ti29oM.jpg');
    @include bgimage (cover, no-repeat, center);
    height: 100vh;
    &-text{
        @include cont;
        color: #fff;
        text-align: center;
        padding-top: 250px;
        .Pricing{
            @include fontstyle (20px,$pgttlfont,600,$fontcolor);
            letter-spacing: 3px;
            opacity: 0.8;
        }
        .pr-plans{
            @include fontstyle (40px,$textfont,600,$fontcolor);
            letter-spacing: 2px;
            margin-top: 50px;
        }
        .line{
            padding-top: 10px;
             li{
                &:nth-child(1){
                    width: 64px;
                    @include line (inline-block,#fff, 50px, 3px);
                }
                &:nth-child(2){
                    width: 10px;
                    @include line (inline-block,#fff, 50px, 3px);
                }
                &:nth-child(3){
                    width: 7px;
                    @include line (inline-block,#fff, 50px, 3px);
                }    
            }
        }
    }
    &-container{
        @media(max-width:820px){
            flex-direction: column;
            align-items: center;
        }
        @include cont;
        height: auto;
        @include flex(flex,space-between,flex-start);
        margin-top: 100px;
        .columns{
            @media(max-width:1210px){
                margin-right: 15px;
            }
            // @media(max-width:670px){
            //     flex-direction: column;
            // }

            width: 250px;
            height: 250px;
            .price{
                border: 1px solid $fontcolor;
                transition: 0.3s;
                height: 150px;
                text-align: center;
                background-color: black;
                &:hover{
                    box-shadow: 0 8px 12px 0 $fontcolor;
                    opacity: 0.7 !important;
                }
                &-title{
                    background-color: $fontcolor;
                    height: 30%;
                    @include fontstyle (25px,$textfont,600,$bg-color);
                    @include flex (flex,center,center);
                }
                .cost{
                    @include fontstyle (25px,$textfont,600,$fontcolor);
                    margin: 40px 0;
                }
            }
            .pr-button{
                @include fontstyle (20px,$pgttlfont,600,$fontcolor);
                @include wh (100px, 50px);
                margin: 20px 0;
                border-radius: 25px;
                border: 1px solid $fontcolor;
                background-color: $bg-color;
                @include flex(flex,center,center);
                transition: 0.3s;
                &:hover{
                    opacity: 0.7 !important;
                    box-shadow: 0 8px 12px 0 $fontcolor;
                }
            }
        }
    }
}
// section-4-styles
.client{
    background-image: url('../images/Ti29oM.jpg');
    @include bgimage (cover, no-repeat, center);
    padding-top: 300px;
    &-container{
        @media(max-width:320px){
            padding-top: 200px;
        }
        @include cont;
        height: 100vh;
        @media(max-width:820px){
            padding-top: 400px;
            
        }
        // background-color: $bg-color;
        &-t{
            @media(max-width: 430px){
                justify-content: flex-start;
                align-items: flex-start;
            }
            @include flex(flex,center,center);
            flex-direction: column;
            .container-t-1{
                @include fontstyle (20px,$pgttlfont,600,$fontcolor);
                letter-spacing: 3px;
                opacity: 0.8;
            }
            .container-t-2{
                @include fontstyle (40px,$textfont,600,$fontcolor);
                letter-spacing: 2px;
                margin-top: 50px;
            }
            .line{
                padding-top: 10px;
                 li{
                    &:nth-child(1){
                        width: 64px;
                        @include line (inline-block,#fff, 50px, 3px);
                    }
                    &:nth-child(2){
                        width: 10px;
                        @include line (inline-block,#fff, 50px, 3px);
                    }
                    &:nth-child(3){
                        width: 7px;
                        @include line (inline-block,#fff, 50px, 3px);
                    }    
                }
            }
        }
        .users{
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: $bg-color;
            margin-top: 50px;
            .us-ul{
                // @media(max-width: 818){
                //     justify-content: center !important;
                // }
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .list{
                    @media(max-width:1400px){
                        width: 250px;
                        margin-right: 5px;
                        margin-bottom: 10px;
                        @include flex (flex,center,center);
                    }
                    width: 400px;
                    @include flex (flex,space-between,flex-end);
                    margin-right: 30px;
                    margin-bottom: 30px;
                    border: 1px solid $fontcolor;
                    border-radius: 25px 25px 0 25px;
                    span{
                        @media(max-width:1400px){
                            
                            margin: 5px;
                            font-size: 12px;
                        }
                        color: $fontcolor;
                        opacity: 0.8;
                        margin: 40px;
                        @include fontstyle (16px,$textfont,300,$fontcolor);
                    }
                    img{
                        border-radius: 25px 25px 0 25px;
                        width: 110px;
                        height: 110px;
                    }
                    .user-com{
                        color: $fontcolor;
                        @include fontstyle (14px,$textfont,300,$fontcolor);
                        // margin-left: 20px;
                    }
                }
            }
        }
        .client-button{
            @media(max-width: 430px){
                width: 50%;
                margin: 20px auto;
            }
            width: 25%;
            margin: 50px auto;
            display: flex;
            justify-content: space-between;
            .butt{
                @include fontstyle (20px,$pgttlfont,600,$fontcolor);
                @include wh (100px, 50px);
                margin: 20px 10px;
                border-radius: 25px;
                border: 1px solid $fontcolor;
                background-color: $bg-color;
                @include flex(flex,center,center);
                transition: 0.3s;
                &:hover{
                    opacity: 0.7 !important;
                    box-shadow: 0 8px 12px 0 $fontcolor;
                }
            }
        }
    }
}
// section-5-style
.experience{
    background-image: url('../images/Ti29oM.jpg');
    @include bgimage (cover, no-repeat, center);
    padding-top: 300px;
    &-container{
        @media (max-width:800px){
            margin-top: 600px;
        }
        @media(max-width:320px){
            padding-top: 250px;
        }
        @include cont;
        height: auto;
        background-color: $bg-color;
        &-t{
            @include flex(flex,center,center);
            flex-direction: column;
            .container-t-1{
                @include fontstyle (20px,$pgttlfont,600,$fontcolor);
                letter-spacing: 3px;
                opacity: 0.8;
            }
            .container-t-2{
                @include fontstyle (40px,$textfont,600,$fontcolor);
                letter-spacing: 2px;
                margin-top: 50px;
            }
            .line{
                padding-top: 10px;
                 li{
                    &:nth-child(1){
                        width: 64px;
                        @include line (inline-block,#fff, 50px, 3px);
                    }
                    &:nth-child(2){
                        width: 10px;
                        @include line (inline-block,#fff, 50px, 3px);
                    }
                    &:nth-child(3){
                        width: 7px;
                        @include line (inline-block,#fff, 50px, 3px);
                    }    
                }
            }
        }
        .fD-cont{
            @media(max-width:1360px){
                height: auto;
            }
            @media(max-width:900px){
                flex-direction:column-reverse;
                align-items: center;
                border: 1px solid $fontcolor;
            }
            @include wh(100%,252px);
            @include flex (flex,space-between,center);
            margin-top: 50px;
            border-radius: 15px;
            transition: 0.3s;
            &:hover {
                opacity: 0.7 !important;
                box-shadow: 0 8px 12px 0 $fontcolor;
            }    
            &-text{
                @media (max-width:600px){
                    font-size: 14px;
                    padding: 10px;
                }
                border-right: 2px solid $fontcolor;
                width: 50%;
                height: 252px;
                @include fontstyle (16px,$textfont,normal,$fontcolor);
                line-height: 24px;
                padding: 30px;
            }
            .front-Dev{
                @media(max-width:900px){
                    width: 100%;
                }
                width: 50%;
                height: 252px;
                @include flex(flex,center,center);
                flex-direction: column;
                padding: 30px;
                .Dev-titl{
                    @media (max-width:600px){
                        font-size: 20px;
                        padding: 10px;
                    }
                    @include fontstyle (30px,$textfont,600,$fontcolor);
                    letter-spacing: 2px;
                    margin-bottom: 30px;
                }
                .Dev-date{
                    @media (max-width:600px){
                        font-size: 16px;
                        padding: 10px;
                    }
                    @include fontstyle (20px,$textfont,600,$fontcolor);
                    letter-spacing: 2px;
                    opacity: 0.8;
                }
            }
        }
        .gD-cont{
            @media(max-width:1360px){
                height: auto !important;
                margin: 20px 0;
            }
            @media(max-width:900px){
                flex-direction: column;
                align-items: center;
                border: 1px solid $fontcolor;
            }
            width: 100%;
            height: 252px;
            @include flex (flex,space-between,center);
            border-radius: 15px;
            transition: 0.3s;
            &:hover {
                opacity: 0.7 !important;
                box-shadow: 0 8px 12px 0 $fontcolor;
            }    
            .graph-Dis{
                @media(max-width:900px){
                    width: 100%;
                    border: none;
                }
                border-right: 2px solid $fontcolor;
                width: 50%;
                height: 252px;
                @include flex(flex,center,center);
                flex-direction: column;
                padding: 30px;
            
                .Dis-titl{
                    @media (max-width:600px){
                        font-size: 20px;
                    }
                    @include fontstyle (30px,$textfont,600,$fontcolor);
                    letter-spacing: 2px;
                    margin-bottom: 30px;
                }
                .Dis-date{
                    @media (max-width:600px){
                        font-size: 16px;
                    }
                    @include fontstyle (20px,$textfont,600,$fontcolor);
                    letter-spacing: 2px;
                    opacity: 0.8;
                }
            }
            .graph-Dis-text{
                @media(max-width:1360px){
                    height: auto !important;
                }    
                @media (max-width:600px){
                    padding: 10px;
                    width: 100% !important;
                }
                width: 50%;
                height: 252px;
                @include fontstyle (16px,$textfont,normal,$fontcolor);
                line-height: 24px;
                padding: 30px;
            }
        }
        .UX-cont{
            @media(max-width:1360px){
                height: auto;
            }
            @media(max-width:900px){
                flex-direction: column-reverse;
                align-items: center;
                border: 1px solid $fontcolor;
            }
            width: 100%;
            height: 252px;
            @include flex (flex,space-between,center);
            border-radius: 15px;
            transition: 0.3s;
            &:hover {
                opacity: 0.7 !important;
                box-shadow: 0 8px 12px 0 $fontcolor;
            }
            &-text{
                @media (max-width:600px){
                    padding: 10px;
                    font-size: 14px;
                }
                @media(max-width:900px){
                    border: none;
                }
                border-right: 2px solid $fontcolor;
                width: 50%;
                height: 252px;
                @include fontstyle (16px,$textfont,normal,$fontcolor);
                line-height: 24px;
                padding: 30px;
            }
            .UX-UI{
                @media(max-width:900px){
                    width: 100%;
                }
                @media (max-width:600px){
                    padding: 15px;
                }
                width: 50%;
                height: 252px;
                @include flex(flex,center,center);
                flex-direction: column;
                padding: 30px;
                &-titl{
                    @media (max-width:600px){
                        font-size: 20px;
                    }
                    @include fontstyle (30px,$textfont,600,$fontcolor);
                    letter-spacing: 2px;
                    margin-bottom: 30px;
                }
                &-date{
                    @media (max-width:600px){
                        font-size: 16px;
                    }
                    @include fontstyle (20px,$textfont,600,$fontcolor);
                    letter-spacing: 2px;
                    opacity: 0.8;
                }
            }
        }
        .of{
            @media(max-width:900px){
                width: 100%;
                border: none;
            }
            @media (max-width:600px){
                font-size: 14px;
                line-height: 20px;
                padding: 15px;
                margin:15px;
                
            }
            height: auto;
        }
    }
}
// section-6-styles
.contact{
    background-image: url('../images/Ti29oM.jpg');
    @include bgimage (cover, no-repeat, center);
    padding-top: 300px;
    .container-text{
        @media(max-width:1303px){
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        @include cont;
        display: flex;
        justify-content: flex-start;
        .contact-container-text{
            @media(max-width:1303px){
                justify-content: center;
                align-items: center;
            }
            @include flex(flex,flex-start,flex-start);
            flex-direction: column;
            .contact-container-text-titl{
                @include fontstyle (20px,$pgttlfont,600,$fontcolor);
                letter-spacing: 3px;
                opacity: 0.8;
            }
            .Contact-me{
                @include fontstyle (40px,$textfont,600,$fontcolor);
                letter-spacing: 2px;
                margin-top: 50px;
            }
            .line{
                padding-top: 10px;
                li{
                    &:nth-child(1){
                        width: 64px;
                        @include line (inline-block,#fff, 50px, 3px);
                    }
                    &:nth-child(2){
                        width: 10px;
                        @include line (inline-block,#fff, 50px, 3px);
                    }
                    &:nth-child(3){
                        width: 7px;
                        @include line (inline-block,#fff, 50px, 3px);
                    }    
                }
            }
        }
    }
    .container{
        @media(max-width:1303px){
            flex-direction: column;
            align-items: center;
        }

        @include cont;
        height: auto;
        display: flex;
        justify-content: space-between;
        .left-flex{
            @media(max-width:511px){
                max-width: 300px;
                width: 100%;
            }
            width: 40%;
            height: 80%;
            border-radius: 0% 100% 100% 0% / 0% 0% 100% 100% ;
            background-color: $bg-color;
            @include wh (450px,300px);
            display: flex;
            margin-top: 20px;
            
            .icon{
                @include column;
                @include iconstyle;
                i{
                    @media(max-width:359px){
                        margin: 20px;
                    }
                    margin: 30px;
                }
            }
            .info{
                @include column;
                @include fontstyle (20px,$textfont,600,$fontcolor);
                a{
                    @media(max-width:359px){
                        margin: 10px;
                    }
                    margin: 25px;
                    @include fontstyle (20px,$textfont,600,$fontcolor);
                }
            }
        
        }
        .right{
            @media(max-width:1303px){
                justify-content: center;
                align-items: center;
            }
            width: 40%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            .contact-form{
                .form{
                    @media(max-width:1303px){
                        align-items: center;
                    }
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .inp{
                        @media (max-width:785px){
                            width: 400px;
                        }
                        @media(max-width:455px){
                            width: 300px;
                        }
                        width: 500px;
                        margin-bottom: 30px;
                        padding: 10px;
                        border-radius: 25px;
                        border: 1px solid $fontcolor;
                        background-color: $bg-color;
                        @include fontstyle (14px,$pgttlfont,300,$fontcolor);
                        &:focus{
                            opacity: 0.8;
                        }
                        &::placeholder{
                            @include fontstyle (14px,$pgttlfont,300,$fontcolor);
                        }
                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(3){
                            height: 40px;
                            width: 55%;
    
                        }
                    }
                    .massage{
                        @media(max-width:346px){
                            width: 250px;
                        }
                        height: 150px;
                    }
                    .submit{
                        @include fontstyle (20px,$pgttlfont,600,$fontcolor);
                        @include wh (100px, 50px);
                        // margin: 20px 0;
                        border-radius: 25px;
                        border: 1px solid $fontcolor;
                        background-color: $bg-color;
                        @include flex(flex,center,center);
                        transition: 0.3s;
                        &:hover{
                            opacity: 0.7 !important;
                            box-shadow: 0 8px 12px 0 $fontcolor;
                        }
                    }
                }
            }
            
        }
    }
}



// footer-style
.footer{
    @include wh (100%,150px);
    background-image: url('../images/Ti29oM.jpg');
    @include bgimage (cover, no-repeat, center);
    padding-top: 50px;
    .footer-container{
        @include cont;
        @include flex (flex,center,center);
        flex-direction: column;
        .finde{
            margin-bottom: 20px;
            .findeme{
                @include fontstyle (20px,$pgttlfont,600,$fontcolor);
                letter-spacing: 3px;
            }
        }
        .footer-icon{
            a{
                @media(max-width:392px){
                    margin: 10px;
                }
                margin: 20px;
                i{
                    @include iconstyle;
                    transition: 0.3s;
                    &:hover{
                        transform:scale(1.5);
                    }

                }
            }
        }
        
    }
}